<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>版型</title>
   
    <!-- 這裡會載入 solid 和 brands 這兩類的圖示，最後要記得載入 fontawesome.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/js/solid.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/js/brands.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/js/fontawesome.js"></script>


</head>
<body class="mission">
    <div class="side">
        <div class="side_clode"><i class="fas fa-times"></i></div>
        <div class="inner">
            <a href="about.htm">任務旋轉門</a>
            <a href="missions.htm">任務列表</a>
        </div>
    </div>
    <div class="wrapper">
        <div class="header">
            <div class="inner">
                <h1 class="logo"> <a href="missions.htm">CiRCLELiNKS</a></h1>
                <div class="menu">
                    <a href="about.htm">任務旋轉門</a>
                    <a href="missions.htm">任務列表</a>
                </div>
                <div class="side_open">
                    <i class="fas fa-bars"></i>
               </div>
            </div>
        </div>
        <div class="container">
            <div class="subject_title">
                <img src="./src/images/subject_title_img.png" alt="">
                <h2>任務旋轉門</h2>
                <p>發掘解決方案和潛在夥伴</p>
            </div>
            
            <div class="subject_content missions">
                <h4 class="unit_title">任務</h4>
                <div id="app">
                    <ul class="card_list_2">
                        <li class="card mission" v-for="(item,index) in list" 
                            :key="item.id"  
                            :data-id="item.id" 
                            :class="{'recommend':item.recommend == 1,'expired': date > new Date(item.publish_end_date) }" >
                            
                            <div>
                                <div class="cover">
                                    <img :src="'/src/images/cover/'+item.cover" alt="">
                                </div>
                                <div class="item">
                                    <i class="fas fa-clock"></i>
                                    <span>{{item.subject_start_date}}~{{item.subject_end_date}}</span>
                                </div>
                                <h5>{{item.subject}}</h5>
                                <div class="item bg">
                                    <i class="fas fa-comment-dots"></i>
                                    <p>{{item.subject_intro}}</p>
                                </div>
                                <div class="item">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <div class="label">
                                        <span v-for="item in location">{{item}}</span>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="fas fa-cog"></i>
                                    <div class="label">
                                        <span>{{item.industries}}</span>
                                    </div>
                                </div>
                            </div>
    
                            <div class="operate">
                                <span>
                                    <a :href="'/mission.htm'+'#'+item.id" class="btn_1">看更多</a>
                                </span>
                                <span>
                                    <small>刊登截止日 {{item.publish_end_date}}</small>
                                    <a class="btn_2" href="https://forms.gle/CQGu1ahdt4jgZMDr5" target="_blank">我有興趣</a>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="footer">
            <p>© 2021 CiRCLELiNKS 智合圈</p>
        </div>
    </div>

    <script src="dist/bundle.js"></script>
   <!-- vue、axios -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data:{
                list:[],
                date:new Date()
            },
            computed:{
                location(){
                    let vm = this;
                    for( var i=0; i<vm.list.length; i++){
                        let singleLocation = vm.list[i].locations.split(',');
                        return singleLocation
                    }
                }
                
            },
            mounted : function(){
                console.log(this.list);  
            },
            created(){
                let vm = this;
                axios.get('./src/js/data.json').then((response)=>{
                    // console.log(response.data);
                    vm.list=response.data;
                }).catch((response) => {
                    /* 失敗，發生錯誤*/
                    console.log(response)
                });;
            }
        });
  
    </script>
   
</body>

</html>