<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>版型</title>

    <!-- 這裡會載入 solid 和 brands 這兩類的圖示，最後要記得載入 fontawesome.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/js/solid.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/js/brands.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/js/fontawesome.js"></script>


</head>

<body class="mission">
    <div class="side">
        <div class="side_clode"><span>X</span></div>
        <div class="inner">
            <a href="about.htm">任務旋轉門</a>
            <a href="missions.htm">任務列表</a>
        </div>
    </div>
    <div class="wrapper">
        <div class="header">
            <div class="inner">
                <h1 class="logo"> <a href="#">CiRCLELiNKS</a></h1>
                <div class="menu">
                    <a href="about.htm">任務旋轉門</a>
                    <a href="missions.htm">任務列表</a>
                </div>
                <div class="side_open">
                    <span>三</span>
                </div>
            </div>
        </div>
        <div id="app">
            <div class="container " >
                <div class="subject_title">
                    <img src="./src/images/subject_title_img.png" alt="">
                    <h2>任務旋轉門</h2>
                    <p>發掘解決方案和潛在夥伴</p>
                </div>
                <div class="subject_content mission" :class="{'recommend':page.recommend == 1, 'expired':  date > new Date(page.publish_end_date)}">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb"><a href="missions.htm">任務旋轉門</a><span>{{page.subject}}</span></div>
                        </div>
                        <div class="col-12 col-md-4 mr-lg-5">
                            <div class="cover">
                                <img :src="'/src/images/'+page.cover" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <h2 class="title">{{page.subject}}</h2>
                            <div class="mission_content">
                                <div class="item">
                                    <i class="fas fa-clock"></i>
                                    <span>{{page.subject_start_date}}~{{page.subject_end_date}}</span>
                                </div>
                                <div class="item bg">
                                    <i class="fas fa-comment-dots"></i>
                                    <p>{{page.company_intro}}</p>
                                </div>
                                <div class="item">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <div class="label" v-if="locations">
                                        <span  v-for="(item,index) in locations" :key="index">{{item}}</span>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="fas fa-cog"></i>
                                    <div class="label">
                                        <span>{{page.industries}}</span>
                                    </div>
                                </div>
                                <div class="item company">
                                    <i class="fas fa-briefcase"></i>
                                    <div>
                                        <h5 v-if="page.company_name">{{page.company_name}}</h5>
                                        <p>{{page.company_intro}}</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="operate">
                                <span>
                                    <!-- <input class="copyUrl" type="text" :value="url"> -->
                                    <a href="#" class="btn_1" @click.prevent="copyLink">複製連結&分享</a>
                                </span>
                                <span>
                                    <small>刊登截止日 {{page.publish_end_date}}</small>
                                    <a href="https://forms.gle/CQGu1ahdt4jgZMDr5" class="btn_2">我有興趣</a>
                                </span>
                            </div>
        
                            <div class="expired_block">
                                <div class="content">
                                    <img src="/src/images/mission_close.png" alt="任務已關閉">
                                    <div>
                                        <h2>此任務已結案！</h2>
                                        <p>是否前往查看其它任務？</p>
                                        <a href="missions.htm" class="btn_3">前往任務列表 <i class="fas fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                                <div class="ad_block">
                                    <a href="#"><img src="/src/images/contact_banner.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="btn_back_block">
                            <a class="btn_back" href="missions.htm"><i class="fas fa-arrow-alt-circle-left"></i>返回任務列表 </a>
                        </div>
                    </div>

                </div>
               
            </div>
        </div>
        <div class="footer">
            <p>© 2021 CiRCLELiNKS 智合圈</p>
        </div>
    </div>

    <script src="dist/bundle.js"></script>
    <!-- vue、axios -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  
    <script>
        const app = new Vue({
            el:'#app',
            data:{
                page:{},
                date:new Date(),
                url:window.location.href,
            },
            methods:{
                copyLink(){
                    let vm = this;
                    var temp = $('<input>'); // 建立input物件
                    $('body').append(temp); // 將input物件增加到body
                    temp.val( vm.url).select(); // 將連結加到input物件value
                    document.execCommand('copy'); // 複製
                    temp.remove(); // 移除input物件
                }
            },
            computed:{
               locations(){
                   let vm = this;
                   return vm.page.locations.split(',');
               }
            },
            created(){
                let nowPage = window.location.hash.split('#')[1];
                let vm = this;

                axios.get('./src/js/data.json').then((response)=>{
                   let data = response.data;
                   let nowData = data.filter((item,index)=>{
                        if(item.id == nowPage){
                            return true
                        }
                   });
             
                   vm.page = nowData[0];

                }).catch((response) => {
                    /* 失敗，發生錯誤*/
                    console.log(response);
                });;
            }
        })
    </script>
</body>

</html>