.icon{ fill:$blue;
    display: inline-block; width: 22px; height: 22px; 
    img{ display: block; width: 100%; height: 100%;}
}

.label{ 
    span{
    color:$greenDark; padding: 5px 8px; width:50px; background:$greenLiter; border: 1px solid $greenLight; border-radius: 2px; margin-right: 10px; font-size: 14px; letter-spacing: 2px; word-wrap:break-word;
    } 
}
// 滿版背景
._full{
   
    background: linear-gradient(180deg, rgba(77, 198, 201, 0.1) 0%, rgba(232, 245, 255, 0) 100%);
 }

// 按鈕的mixin
@mixin btn_solid ($bgColor:$greenLight){
    display: inline-block;
    text-align: center;
    background: $bgColor;
    padding: 8px 14px;
    border-radius: 3px;
    color: $white;
    letter-spacing: 2px;
    font-weight: 300;
    text-shadow: 0px 1px 5px rgba($color: $black, $alpha: 0.2);
    transition: .3s;
}

.btn_1{ 
    @include btn_solid($greenLight);
    &:hover{
        background: darken($color: $greenLight, $amount: 5);
    }
}

.btn_2{ 
    @include btn_solid($blue);
    &:hover{
        background: darken($color: $blue, $amount: 5);
    }
}

.btn_3{ 
    
    @include btn_solid($gradientBlue);
    .fa-arrow-circle-right{ margin-left: 4px;}
    &:hover{
        background-image: linear-gradient(-90deg, #1061A3 31.79%, rgba(69, 167, 185, 0) 157.71%);
    }
}

.btn_4{ 
    @include btn_solid($gradientgreen);
    &:hover{
        background-image: linear-gradient(-90deg, $greenLight 31.79%, rgba(69, 167, 185, 0) 157.71%);
    }
}

.operate{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    span{ flex: 1; margin: 1%; text-align: center;}
    small{ display: inline-block; margin-bottom: 5px;}
    [class^="btn"]{width: 100%;}
}



// 麵包屑
.breadcrumb{
    font-weight: 300; margin-bottom: 30px;
    a{
        &::after{ display: inline-block; content: '/'; margin: 0 5px;}
    }
    span{ color: #666;}
    @include media-breakpoint-down(sm){
        display: none;
    }
}


// 文字的mixin
@mixin text($size,$weight:300,$color,$spacing) {
    font-size:$size ;
    font-weight:$weight;
    color: $color;
    letter-spacing:$spacing ;
}


// 主題標題
.subject_title{
    // width: 364px; height: 106px;
    max-width: 1320px; margin: 0 auto;
    position: relative; left: -100px; margin-bottom: 50px;
    img{ height: 106px; position: absolute; left: 0; top: 0; }
    h2{
        // $size,$weight:300,$color,$spacing
        @include text(28px,500,$blue,5px);
        margin-left: 100px;}
    p{ letter-spacing: 2px; margin-left: 150px; font-weight: 300;}

    @include media-breakpoint-down(lg){
        left: -50px;
    }

    @include media-breakpoint-down(sm){
        left: 50%; transform: translateX(-50%);
        img{ height: 90px; left: 10px; top: 10px;}
        h2{ @include text(21px,500,$blue,5px); margin-bottom: -5px;}
        p{margin-left: 100px;}
        
    }
}


// mixin 區塊標題
@mixin section_title($url_after,$color) {
 
    width: 310px; margin: 0 auto;
    &::before{ display: block; content:''; width: 52px;  height: 53px; background-image: url(./assets/images/sparks.png) ; background-repeat:  no-repeat; background-size: contain; margin-left: 30px;  }
    &::after{ display: block; content: ''; width: 310px; height: 76px; background:$url_after ; background-size: contain; margin-top: -30px;}
    h3{font-size: 24px; letter-spacing: 8px; color:$color ;  font-weight: 500; text-align: center; margin-top: -15px;}
}

// 區塊標題
.section_title{
    @include section_title(url(./assets/images/circle_green.png),$black);
    margin-bottom: 50px;
    &.white{
        @include section_title(url(./assets/images/circle.png),$white);
        margin-left:0px ;
        @include media-breakpoint-down(md){
            margin: 0 auto 50px auto;
        }
    }
   
}

.unit_title{ 
    text-align: center; margin: 40px auto; padding-top: 40px;
    @include text(24px,400,$blue,8px);
    &::before{ display: inline-block; content: ''; width: 30px; height: 30px; background: url(./assets/images/sparks.png) no-repeat left bottom; background-size: contain; margin-bottom: 10px; margin-right: -4px;}

    @include media-breakpoint-down(sm){
        font-size: 19px;
    }
}

// mixin 焦點卡片狀態
@mixin card_list_1status($bgColor) {
    &::before{ display: block; content:''; width: 55px; height: 55px; position: absolute; left: 0; top: 0; background-image: linear-gradient(135deg, $bgColor 0%, $bgColor 50%,  transparent 50%); border-radius: 3px;}
}

.card_list_1{
    max-width: 1320px; margin: 0 auto;
    display: flex; flex-wrap: wrap; text-align: center;
    .card{
        width: 24%; margin-right: 1%; padding: 15px; display: flex; flex-direction: column; border-radius: 3px; position: relative;
        box-shadow: 0px 8px 10px rgba($color: $black, $alpha: 0.2);
        
        h5{
            // $size,$weight:300,$color,$spacing
              @include text(18px,500,$black,2px);  
            margin-bottom: 10px;
        }
        .date{ 
            // $size,$weight:300,$color,$spacing
            @include text(16px,300,$grey,0px); 
            &::after{ display: block; content:''; width: 20px; height: 4px; background: #E5E5E5;
                margin: 5px auto 10px auto; 
            } 
        }
        .content{
            // $size,$weight:300,$color,$spacing
            @include text(16px,300,$black,0px);
            margin-bottom: 10px;
            min-height: 56px;
        }
        a{ align-self:flex-end;  
            // $size,$weight:300,$color,$spacing
            @include text(14px,400,#1060A0,5px);
            &::after{}
        }
        &.new{ @include card_list_1status($greenDark)}
        &.point{@include card_list_1status(#EDB010)}
        &.soon{ @include card_list_1status($blue)}
        .content{ text-align: left;}
    }
}

// 列表
.mission{
    h2.title{  @include text(21px,300,$black,0px); margin-bottom: 20px; }
    .subject{  @include text(21px,300,$black,0px); margin-bottom: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2; //行數
        -webkit-box-orient: vertical;
        white-space: normal;
        overflow: hidden;}
    h5{ @include text(21px,300,$black,0px); margin-bottom: 5px; }
    .item{ display: flex; align-items: center; margin-bottom: 15px; 
        &.bg{ line-height: 1.8; background: $greenLiter; padding: 10px; border-radius: 5px; align-items: flex-start;
            letter-spacing: 1px; font-weight: 300; margin-left: -5px;
        }
        &.company{
            align-items: flex-start;
            line-height: 1.8; letter-spacing: 1px; font-weight: 300;
            h5{}
        }
        h4{ font-weight: 500; margin-bottom: 8px;}
    }
    .fa-comment-dots{ margin-left: -5px;}
    .fa-briefcase{}
    .fa-clock,.fa-comment-dots,.fa-map-marker-alt,.fa-briefcase,.fa-cog{font-size: 18px; color: $blue;  margin-right: 10px; width: 18px; }
    .isCopied{ color: $blue;}
}


.card_list_2{
    display: flex;  flex-wrap: wrap;
    .card{
        width: 30%; margin:0 1.5% 2% 1.5%; padding: 12px; border-radius: 3px; overflow: hidden; position: relative;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);  margin-bottom: 30px;
        display: flex; flex-direction: column; justify-content: space-between;
        .cover{ 
            height: 180px; width: 130%; margin-bottom: -40px; overflow: hidden;
            transform: skew(-10deg, -10deg) translateX(-15%) translateY(-100px); 
            img{ width: 100%;  transform: skew(10deg, 10deg);}
        }
        .item{
            p{ display: -webkit-box;
                -webkit-line-clamp: 3; //行數
                -webkit-box-orient: vertical;
                white-space: normal;
                overflow: hidden;
            }
            
        }
        &.recommend{
           &::before{ display: block; width: 100%; height: 150px; content: ''; position: absolute; right: 0; top: 0;
                background-image: 
                    url(./assets/images/Star.png), 
                    linear-gradient(to bottom,  rgb(255, 213, 0) 0%,rgba(255,255,255,0) 100%); 
                background-repeat: no-repeat, no-repeat;
                background-position: 96% 75%,0 0;
                background-size: 30px 28px, cover;
            }
        }
        &.expired{
            background: #D8D8D8;
            .operate{ visibility: hidden;}
            .cover img{filter:grayscale(1);}
            .fa-clock,.fa-comment-dots,.fa-map-marker-alt,.fa-briefcase,.fa-cog{ color: $black;}
            .item{
                &.bg{ background: rgba(0,0,0,0.1);}
                .label span{filter:grayscale(1); }
            }
        }

        &.recommend.expired{
            &::before{ display: block; width: 100%; height: 150px; content: ''; position: absolute; right: 0; top: 0;
                background-image: 
                    url(./assets/images/Star_expired.png), 
                    linear-gradient(to bottom,  rgb(119, 119, 119) 0%,rgba(255,255,255,0) 100%); 
                background-repeat: no-repeat, no-repeat;
                background-position: 96% 75%,0 0;
                background-size: 30px 28px, cover;
            }
        }
    }

    @include media-breakpoint-down(lg){
        .card{ width: 48%; margin:0 1% 5% 1%;}
    }

    @include media-breakpoint-down(sm){
        .card{ width: 100%;  margin:0 1% 5% 1%;}
    }
}

.card_list_3{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-top:-145px;
    margin-bottom: 200px;
    .card{
        background: #fff;
        padding: 40px 30px;
        width: 22%;
        box-shadow: 0px 30px 50px 0px rgba(119, 119, 119,0.5);
        position: relative;
        @for $i from 1 through 4 {
            &:nth-last-of-type(#{$i}){
                transform: translateY(#{$i*60}px);
            }
        }
        .title{margin-bottom: -20px;  margin-left: 15px; color: $greenLight;
            &::before{ display: block; content: ''; width: 44px;height: 44px; background: url(./assets/images/spark.png) no-repeat center center / cover;  position: absolute; left: -10px; top: 10px; }
        }
        .content{
            text-align: center;
            img{ margin-bottom: 30px;}
            p{text-align: left;}
           
        }
    }
    @include media-breakpoint-down(md){
        margin-top: 0px; margin-bottom: 0px;
        .card{ width: 42%;  margin-bottom: 50px;
            @for $i from 1 through 4 {
                &:nth-last-of-type(#{$i}){
                    transform: translateY(0px);
                }
            }
        }
       
    }

    @include media-breakpoint-down(sm){
        .card{
            width: 100%;
        }
    }

}

.filter_box{
    max-width: 1320px; margin: 0 auto; 
    .item{}
    ul{
        display: flex;
    }
    li{
        margin: 0 10px;
        a{
            text-decoration: none;
            border:2px solid $blue; 

            @include btn_solid( #fff ); // 按鈕的mixin
            color: $primary;
            padding:3px 10px;
            
            &.active{
                background-color: $blue;
                color: #fff;
            }
            &:hover{
                background-color: lighten($color: $blue, $amount: 15);
                color: $white;
            }
        }
    }
}